<md-card class="book" *ngIf="book">
    <md-card-title-group>
        <md-card-title>{{ book.volumeInfo.title }}</md-card-title>
        <md-card-subtitle *ngIf="book.volumeInfo.subtitle">{{ book.volumeInfo.subtitle }}</md-card-subtitle>
        <img md-card-sm-image *ngIf="book.volumeInfo.imageLinks.smallThumbnail" [src]="book.volumeInfo.imageLinks.smallThumbnail"/>
    </md-card-title-group>
    <md-card-content>
        <p [innerHtml]="book.volumeInfo.description"></p>
    </md-card-content>
    <md-card-footer class="footer">
        <md-icon *ngIf="book.volumeInfo.synced">sync</md-icon>
        <md-icon *ngIf="!book.volumeInfo.synced">sync_disabled</md-icon>
        <p>{{book.volumeInfo.authors}}</p>
    </md-card-footer>
    <md-card-actions align="end">
        <button md-raised-button color="primary" (click)="doit()">
            Reserve Book
        </button>
    </md-card-actions>
</md-card>